<head>
  <title><%= title %></title>

  <!-- Google Fonts -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
  />

  <!-- CSS Reset -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
  />

  <!-- Milligram CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
  />

  <!-- Eva Icons -->
  <script src="https://unpkg.com/eva-icons"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
