<header class="header">
  <section class="container">
    <div class="row">
      <div class="column column-0 column-logo">
        <a class="link logo" href="/">
          <i data-eva="bulb" data-eva-height="32" data-eva-width="32"></i>
        </a>
      </div>

      <div class="column column-75">
        <% if (locals._locals.user) { %>
        <form class="search">
          <input
            class="search-input"
            placeholder="Search"
            id="search"
            name="search"
            type="search"
            value=""
          />
        </form>
        <% } %>
      </div>

      <div class="column column-0">
        <nav class="nav">
          <div class="nav-item">
            <a
              class="link"
              title="Github"
              href="https://github.com"
              target="__blank"
            >
              <i data-eva="github"></i>
            </a>
          </div>

          <% if (locals._locals.user) { %>
          <div class="nav-item">
            <a href="/profile">
              <i data-eva="person"></i>
            </a>
          </div>
          <div class="nav-item">
            <a href="/signout">
              <i data-eva="log-out"></i>
            </a>
          </div>
          <% } %>
        </nav>
      </div>
    </div>
  </section>
</header>

<script>
  eva.replace()
</script>
