<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <div class="container">
        <div class="row">
          <div class="column column-50 column-offset-25">
            <form>
              <fieldset>
                <label for="emailField">Email</label>
                <input type="email" placeholder="Email" id="emailField">

                <label for="passwordField">Password</label>
                <input type="password" placeholder="Password" id="passwordField">

                <input class="button" type="submit" value="Login">
              </fieldset>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
