<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('partials/breadcrumb', { breadcrumb: breadcrumb }) %>

      <div class="content container">
        <div class="row">
          <div class="column column-50 column-offset-25">
            <%- include('partials/login-form', { error: null, values: {} }) %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
