<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main style="padding-top: 2rem">
      <div class="container">
        <div class="row">
          <div class="column column-50 column-offset-25">
            <%- include('partials/registration-form', { values: values,
            fieldErrors: fieldErrors }) %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
