:root {
  --border-radius: 0.4rem;
  --margin-bottom: 1.5rem;
  --color-initial: #fafbfc;
  --color-primary: #555;
  --color-secondary: #b5b5b5;
  --color-tertiary: #efefef;
  --color-quaternary: #000;
  --color-success: #03a87c;
  --color-warning: #f8d64e;
  --color-danger: #df3636;
  --color-background-danger: #fbe1e1;
  --color-highlight: #03a87c;
  --color-star: #f8d64e;
  --color-applause: #03a87c;
  --color-shadow: rgba(85, 85, 85, 0.15);
  --font-regular: 300;
  --font-bold: 500;
}

body {
  background: var(--color-initial);
  font-family: 'Roboto', sans-serif;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 0.4rem;
  color: var(--color-tertiary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: var(--font-regular);
  height: 4.6rem;
  letter-spacing: 0;
  line-height: 4.4rem;
  margin-bottom: var(--margin-bottom);
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

.button:hover
  button:hover
  input[type='button']:hover
  input[type='reset']:hover
  input[type='submit']:hover {
  background-color: var(--color-primary);
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  background-color: var(--color-tertiary) !important;
  border: 0.1rem solid var(--color-tertiary);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  font-family: open sans, sans-serif;
  font-weight: var(--font-regular);
  min-width: 100%;
  position: relative;
  width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  background-color: var(--color-tertiary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

input[type='email'] + .form-field-error,
input[type='number'] + .form-field-error,
input[type='password'] + .form-field-error,
input[type='search'] + .form-field-error,
input[type='tel'] + .form-field-error,
input[type='text'] + .form-field-error,
input[type='url'] + .form-field-error,
select + .form-field-error,
textarea + .form-field-error {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 10pt;
  color: var(--color-danger);
}

input[type='email'].has-error,
input[type='number'].has-error,
input[type='password'].has-error,
input[type='search'].has-error,
input[type='tel'].has-error,
input[type='text'].has-error,
input[type='url'].has-error,
select.has-error,
textarea.has-error {
  border-color: var(--color-danger);
}

label {
  font-size: 1.5rem;
  font-weight: var(--font-regular);
  position: relative;
  text-align: left;
}
